@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Ads.ViewModels.AdViewModel>

@foreach (var item in Model)
{
    <div class="jumbotron">


        <p>@item.Title</p>
        <p>@item.Content</p>
        <p>Created on: @String.Format("{0:d}", item.CreatedOn)</p>
    </div>
}